.brands {
  padding: 11.5px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: var(--base);
  &__item {
    height: 140px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-grey);
    &:not(:last-child) {
      border-right: none;
    }
  }
}

@media screen and (max-width: 1365px) {
  .brands {
    flex-wrap: wrap;
    &__item {
      width: 26%;
    }
  }
}