.header {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  &__item {
    list-style-type: none;
    & > a {
      //color: var(--white-text);
      display: block;
      padding: 32px 24px;
      line-height: 24px;
    }
  }
}

.banner {
  display: flex;
}

.header__black-column {
  position: absolute;
  width: 37.5%;
  left: 0;
}

.header__dark-column {
  position: absolute;
  width: 62.5%;
  right: 0;
}