@import "../mixins";

.header {
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  &__item {
    list-style-type: none;
    & > a {
      //color: var(--text);
      display: block;
      padding: 32px 24px;
      line-height: 24px;
    }
  }
}

.intro {
  max-width: 1440px;
  margin: 0 auto;
  &__img-wrapper img{
    display: block;
  }
  &__title {
    @include h1-title;
    color: var(--text);
    &-based {
      opacity: 0.5;
    }
  }
  &__subtitle {
    @include regular-text;
    color: var(--text);
  }
}

.background {
  height: 814px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  &__black-column {
    width: 37.5%;
    background: var(--base);
  }
  &__dark-column {
    width: 62.5%;
    background: var(--level1);
  }
}
