@import "../mixins";

.reviews {
  background-color: var(--base);
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
  }
  &__intro {
    max-width: 570px;
  }
  &__title {
    color: var(--text);
  }
  &__text {
    margin: 24px 0 40px;
    @include regular-text;
    color: var(--light-grey);
  }
  &__link {
    @include follow-link;
    color: var(--text);
  }
  &__item {
    max-width: 636px;
    &:not(:last-child) {
      margin-bottom: 120px;
    }
    &-img {
      & img {
        display: block;
        ma-width: 100%;
      }
    }
    &-description {
      padding: 64px;
      border: 1px solid var(--dark-grey);
      border-top: none;
    }
    &-title {
      margin-bottom: 64px;
      font-size: 24px;
      color: var(--text);
      font-weight: bold;
    }
    &-author {
      @include regular-text;
      font-weight: bold;
      color: var(--dark-grey);
    }
    &-position {
      margin-top: 4px;
      @include regular-text;
      color: var(--dark-grey);
    }
  }
}

@media screen and (max-width: 1365px) {
  .reviews {
    &__intro {
      max-width: 332px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
      &-description {
        padding: 32px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .reviews {
    &__item {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
    &__inner {
      column-gap: 23px;
    }
  }
}

@media screen and (max-width: 767px){
  .reviews {
    &__inner {
      flex-direction: column;
      row-gap: 64px;
    }
    &__intro {
      max-width: 100%;
    }
    &__title {
      max-width: 330px;
    }
    &__item {
      max-width: 100%;
      margin: 0 auto;
      &-img img {
        width: 100%;
      }
    }
  }

}