:root {
    --text: #ffffff;
    --base: #000000;
    --level1: #181823;
    --primary: #5221E6;
    --light-grey: #8491A0;
    --peach-accent: #FFF3E4;
    --dark-grey: #5B6876;
    --pink-accent: #FBE4FF;
}