@import "blocks/header";
@import "blocks/experience";
@import "blocks/philosophy";
@import "blocks/skillset";
@import "blocks/brands";
@import "blocks/projects";
@import "blocks/instagram";
@import "blocks/dribbble";
@import "blocks/reviews";
@import "blocks/photography";
@import "blocks/get-started";
@import "blocks/footer";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  &--big {
    max-width: 1470px;
  }
}

.section {
  padding: 120px 0;
  &__title {
    @include h2-title;
  }
}



@media screen and (max-width: 1365px) {
  .section {
    padding: 80px 0;
  }
  .container {
    max-width: 992px;
  }
}