@import "blocks/header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px;  position: relative;

  &--big {
    max-width: 1470px;
  }
}