@mixin h1-title {
  font-size: 78px;
  font-weight: bold;
  @media screen and (max-width: 1365px) {
    font-size: 56px;
  }
  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
}

@mixin h2-title {
  font-size: 55px;
  font-weight: bold;
  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
}

@mixin h3-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

@mixin h4-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

@mixin regular-text {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

@mixin small-text {
  font-size: 16px;
  line-height: 24px;
}

@mixin follow-link {
  display: inline-block;
  @include small-text;
  text-decoration: none;
  transition: 0.2s all linear;
  &:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--light-grey);
    margin-top: 2px;
    transition: 0.2s all linear;
  }
  &:hover {
    color: var(--primary);
    &:after {
      background-color: var(--primary);
    }
  }
}